<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<p>
    <a th:href="@{/posts}">
        <button >Quay Lại</button>
    </a>
</p>
<center>
    <h1>Edit Post</h1>
    <div id="form">
        <form action="#" th:object="${pos}"
              method="POST" novalidate="novalidate">
            <input type="hidden" th:field="*{id}"/>
            <div>
                <label>Name</label>
                <input type="text" th:field="*{title}"/>
            </div>
            <div>
                <label>Email</label>
                <input type="text" th:field="*{content}"/>
            </div>
            <div>
                <label>likes</label>
                <input type="text" th:field="*{likes}"/>
            </div>
            <input type="submit" value="Edit"/>
        </form>
    </div>
</center>
</body>
</html>
