<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:replace="/layout :: head">
</head>
<body>
<p>
    <a th:href="@{/posts}">
        <button>Quay Lại</button>
    </a>
</p>
<center>
    <h3>Post</h3>
    <table id = "post">
        <thead>
        <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Date-Time</th>
            <th>Likes</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pos: ${posts}">
            <td th:text="${pos.getTitle()}"></td>
            <td th:text="${pos.getContent()}"></td>
            <td th:text="${pos.getCreateAt()}"></td>
            <td th:text="${pos.getLikes()}"></td>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <a th:href="@{'/posts'(page=${posts.number - 1})}" th:if="${posts.hasPrevious()}">Previous</a>
        <span th:text="${posts.number + 1}"></span>/<span th:text="${posts.totalPages}"></span>
        <a th:href="@{'/posts'(page=${posts.number + 1})}" th:if="${posts.hasNext()}">Next</a>
    </div>
    </div>
</center>
</body>
</html>